@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

html {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    height: auto;
}

.container {
    display: block;
    position: relative;
    top: 80vh;
    left: 0vw;
    width: auto;
    opacity: 0;
}

#canvas {
    display: block;
    margin: 50px auto;
    width: 6vh;
    height: 6vh;
}

.icon {
    height: 0.1vh;
    width: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 1.6vh;
    margin: 0 auto;
    border-radius: 15vh;
}

.icon > i {
    height: 4.5vh;
    width: auto;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 0vh;
    border-radius: 15vh;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0,0,0,.5);
}

.label {
    height: 4.5vh;
    width: auto;
    display: block;
    position: absolute;
    left: 600;
    right: 0;
    margin: 0 auto;
    text-align: justify;
    top: 1.8vh;
    font-weight: bold;
    font-size: 1.65vh;
    border-radius: 15vh;
    text-shadow: 0px 0px 1.6px rgba(0,0,0,1);
    letter-spacing: 0.1px;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

html {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    height: auto;
}

@media (min-width: 1920px) {
    .container {
        display: block;
        position: relative;
        top: 80vh;
        left: 0vw;
        width: auto;
        opacity: 0;
    }

    #canvas {
        display: block;
        margin: 50px auto;
        width: 6vh;
        height: 6vh;
    }

    .icon {
        height: 0.1vh;
        width: auto;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 1.6vh;
        margin: 0 auto;
        border-radius: 15vh;
    }

    .icon > i {
        height: 4.5vh;
        width: auto;
        display: block;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        font-size: 0vh;
        border-radius: 15vh;
    }    

    .label {
        height: 4.5vh;
        width: auto;
        display: block;
        position: absolute;
        left: 600;
        right: 0;
        margin: 0 auto;
        text-align: justify;
        top: 1.8vh;
        font-weight: bold;
        font-size: 1.65vh;
        border-radius: 15vh;
        text-shadow: 0px 0px 1.6px rgba(0,0,0,1);
        letter-spacing: 0.1px;
        font-variant: small-caps;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
}

